@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html{
    font-size: 62.5%;
}

body{
    font-family: Poppins;
    font-size:1.6em ;
    line-height: 1.6;
    margin: 0 20px;
}

a{
    text-decoration: none;
    color: white;
}