@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
html{
    font-size: 62.5%;
}

body{
    font-family: 'Montserrat', sans-serif ;
    font-weight: lighter;
    font-size:1.6em ;
    line-height: 1.6;
    margin: 0 20px;
}

a{
    text-decoration: none;
    color: white;
}

.titre h1{
    font-family: 'Anton', sans-serif;
    font-size: 65px;
    color: white;
    letter-spacing: 5px;
}

.titre h2{
    font-family: 'Anton', sans-serif;
    font-size: 35px;
    color: white;
    letter-spacing: 5px;
}

.tagline h3{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #CFE7ED;

}

.qu_est-ce h2{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 20px;
}

.qu_est-ce p{
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-size: 17px;
    color: black;
}

.premier_tweet p{
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #76A0C6;
}

.deuxieme_tweet p{
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: white;
}

.troisieme_tweet p{
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #76A0C6;
}

.auteur h4{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: white;
}

.mailto p{
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-size: 16px;
    color: white;
}

.exo p{
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-size: 11px;
    color: white;
}

.titre_artcicle{
    font-family: 'Anton', sans-serif;
    font-size: 20px;
}

.chapo p{
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-style: italic;
    font-size: 20px;
    text-indent: 50px;
}

.pr_part_article p{
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-size: 17px;
    text-indent: 50px;
}

.pr_part_article a{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}


.pr_part_article i{
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.deux_part_article p{
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-size: 17px;
    text-indent: 50px;
}

.deux_part_article a{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.deux_part_article i{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.trois_pat_article p{
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-size: 17px;
    text-indent: 50px;
}

.trois_pat_article i{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.para p{
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-size: 17px;
    text-indent: 50px;
}

.para i{
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.titte_galerie p{
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 25px;
}

.titre_inter p{
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 25px;
}

.en_savoir_plus p{
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 17px;
}